<h3>3D-Secure Authentication with your Bank</h3>

<p> To increase the security of Internet transactions, Visa and Mastercard have introduced 3D-Secure (like an online version of Chip and PIN). 
<br>
<br>
You have chosen to use a card that is part of the 3D-Secure scheme, so you will need to authenticate yourself with your bank in the section below.
</p>
<img src="/images/vbv_logo_small.gif" alt="Verified by Visa">
<img src="/images/mcsc_logo.gif" alt="MasterCard SecureCode">

<div align="center">
<iframe src="/orders/<%= @order.number %>/checkout/secure_form" width="70%" height=500 frameborder=0>
<% session["3Dform"] %>
</iframe>
</div>

